
/* Zot colours:
 * Purple HiLite: #FF66FF
 * Purple Dark: #660066
 * Purple Vdar: #303
 * Gold hilite: #fc3
 * Gold center: #CC9900
 * Gold dark: #993300
 * Text grey: #9cf
 * Text grey 2: #69c*/
html, body {
    margin: 0;
    background-color: #202;
    color: #ccc;
    font-family: sans-serif;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#sdc {
	margin-top: -40px;
	font-variant: small-caps;
	font-size: 36pt;
	margin-bottom: -20px;
}
#title {
    width: 100%;
    background-color: #202;
    color: #eb2;
    text-align: center;
}

#content {
    margin-bottom: 40px;
    margin-left: 10px;
}

a {
    color: #ccc;
}
h2 {
	text-align: center;
}
p,ul,ol,.info {
	margin-left: calc(20% - 10px);
	margin-right: auto;
	width: 60%;
	padding: 0;
}

pre {
	background: #606;
	border: 3px dashed #669;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

#rc {
	width: 6em;
	font-size: 12pt;
	text-align: center;
}

#cover {
	width: 45em;
}

li {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
#combo, #bonus, #gods, #times, #schedule  {
    font-size: 14pt;
}

.label {
	font-weight: bold;
}

table {
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 30px;
    width: calc(100% - 60px);
    border-collapse: collapse;
}
td.pt, td.total {
	text-align: center;
}
td, th {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}

th {
	vertical-align: top;
}

tr.head {
	font-size: 14pt;
	border-bottom: 3px solid #669;
	border-top: 3px solid #669;
}

tr {
	background-color: #606;
}
tr:nth-child(even) {
	background-color: #303;
}

tr.won {
  background-color: #363;
  font-weight: bold;
}
tr.won:nth-child(even) {
  background-color: #002A00;
}
tr.dead {
  background-color: #711;
}
tr.dead:nth-child(even) {
  background-color: #450000;
}
tr.alive {background-color: #383338}
tr.alive:nth-child(even) {background-color: #1F1A1F;}

tr.none {
	color: #477;
	background-color: #111;
}

tr.none:nth-child(even) {background-color: #000;}

.menu {
	padding-left: 10px;
}

.menuspacer {
	margin-left: 10px;
	border-left: 3px solid #ccc;
	height: calc(14pt);
}

#bottomtext {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #605;
    padding: 5px;
}

#updated {
	float: right;
	margin-right: 15px;
}
